@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #4A90E2;
  --color-background-light: #F3F4F6;
  --color-background-dark: #111827;
  --font-display: "Inter", "system-ui", "sans-serif";
  --radius-DEFAULT: 8px;
}

body {
  margin: 0;
  font-family: 'Inter', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
